---
  name: Solar System Workflow
  on:
    workflow_dispatch: null
    push:
      branches:
        - main
        - feature/*
  env:
    MONGO_URI: mongodb+srv://supercluster.d83jj.mongodb.net/superData
    MONGO_USERNAME: superuser
    MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
  jobs:
    unit-testing:
      name: Unit Testing
      runs-on: ubuntu-latest
      steps:
        - name: Checkout Repository
          uses: actions/checkout@v4
        - name: Setup NodeJS Version
          uses: actions/setup-node@v4
          with:
            node-version: 20
        - name: Install Dependencies
          run: npm install
        - name: Unit Testing
          run: npm test
        - name: Archive Test Result
          if: always()
          uses: actions/upload-artifact@v4
          with:
            name: Mocha-Test-Result
            path: test-results.xml
    code-coverage:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: 18
        - run: npm install
        - continue-on-error: true
          run: npm run coverage
        - uses: actions/upload-artifact@v4
          with:
            name: Code-Coverage-Result
            path: coverage
            retention-days: 5

    docker:
      name: Build & Push Docker Image
      runs-on: ubuntu-latest
      needs: unit-testing
      steps:
        - name: Checkout Repository
          uses: actions/checkout@v4
      
        - name: Login to GHCR
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
          
        - name: Build Docker Image
          run: |
            docker build -t ghcr.io/${{ github.repository_owner }}/solar-system:${{ github.sha }} .
          
        - name: Push Docker Image
          run: |
            docker push ghcr.io/${{ github.repository_owner }}/solar-system:${{ github.sha }}
          

    dev-deploy:
      runs-on: ubuntu-latest
      needs: 
        - docker
      environment:
        name: development
      steps:
        - name: Install Cluster
          uses: helm/kind-action@v1
        - run: |
              sleep 60
              kubectl -n kube-system get pod
              set +e
              REPO_OWNER_LC="${GITHUB_REPOSITORY_OWNER,,}"
              kubectl run solar --image ghcr.io/${REPO_OWNER_LC}/solar-system:${{ github.sha }} \
                 --env MONGO_URI=${{ env.MONGO_URI}} \
                 --env MONGO_USERNAME=${{ env.MONGO_USERNAME}} \
                 --env MONGO_PASSWORD=${{ env.MONGO_PASSWORD}}
              set -e
              echo "kubectl returned $?"
              kubectl -n default get pod
              sleep 10
